<div  >
<h3 align="center" style="color:brown; position:fixed; left:550px; top:-10px; ">Welcome to Food Box!!</h3>
<div style="text-align:right;" >
    <a routerLink ="/add-user" style="color: blue">Register</a>
    <a routerLink ="/validate-user"style="color: blue;padding-left:10px" >Login</a>
</div>

</div>
<br/>

<div >
<ul>
   <li style="color: blue"> <a routerLink ="/add-food-online">Add Food Item</a></li>
   <li style="color: blue">  <a routerLink ="/delete-food-online">Delete Food Item</a></li>
   <li style="color: blue"> <a routerLink ="/food-online-list">List Food Item</a></li>
   <li style="color: blue"> <a routerLink ="/Update-food-online">Update Food Item</a></li>
   <li style="color: blue"> <a routerLink ="/get">Get food by Category</a></li>
</ul>
</div>
<br/>
<br/>


<div>
    <router-outlet></router-outlet>
</div>